#titulo {
  color:tomato;
}

p.especial {
  color:mediumseagreen;
}
p.texto {
  color:slateblue;
}


/*Dependiendo del orden en que escribo es que se va a sobreescribir, es decir la ultima instruccion tiene prioridad*/
div p {
  color:aquamarine;
}

/*solo selecciona las etiquetas de p dentro de div*/

div h2, div h3 {
  color:brown;
}

/*Este es un selector universal al que le aplica esta propiedad*/
* {
  font-size: 24px; 
  /* color:black; */
}

/*Estas propiedades solo se van a aplicar si no han sido definidas por otros selectores*/

/*
.color {
  color:#ff0000;
}                 Hexadecimal, el mayor valor del color ffffff=blanco 
y la ausencia del color #000000. Los primeros dos digitos es el color rojo, los segundos verdes y los terceros azules
el primero nos habla del color y el de al lado su variación 
*/


/*.color {
  color: rgb(0, 255, 255);
}convencion RGB 255rojo,255verde,255azul*/

/* .color {
  border: 5px #f00 ridge;
} */
/*dotted- dashed- solid- double- 
groove-ridge inset- ouset-  elementos tridimensionales
none-hidden*/
.color {
  border-style: solid ;
  border-color: blue;
  border-radius: 5px;
  border-width: 2rem;
}

#fondo {
  background-color: red;
  background-image: url('colores.jpg');
  background-size: 400px 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center top;
}
/* opacity: .3; */
.margen {
  background-color: chocolate;
  margin: 15px 20px 25px 30px;
  padding: 30px 25px 20px 15px;
  border:solid 1px black;
  height: 100px;
  width: 50px;
  overflow: scroll;
  outline: solid 5px;
}
.text {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-decoration: overline;
  text-shadow: 3px 5px 5px blue ;
}

a:link { 
  color:blueviolet;
}

a:visited {
  color:gray;
}

a:hover {
  color:yellow;
}

a:active {
  color:red;
}

ul {
  background-color: cyan;
  /* list-style-type: none; */
list-style-position: inside;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,td {
  border:solid 2px #eee;
  padding: 5px;
}

th {
  background-color: tomato;
  color:white;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #eee;
}

tr:hover {
  background-color: #aaa ;
  cursor: pointer;
}

span {
  display: block;
  /* display: none;
  visibility: hidden; */
  max-width: 300px;
  background-color: indianred;
}
.inline {
  display: inline;
}

#position {
  position: fixed; /*stick es una mezcla entre absoluto y fixed*/
  left: 20px;
  /* top: 25px; */

}

.left {
  float: left;
  width: 200px;
  height: 200px;
}

.container {
  height: 200px;
}

.right {
  float: right;
}

.card {
  border: solid 1px #ddd;
  border-radius: 5px;
  margin:0 15px;
  padding: 10px 15px;
  width:33% ;
}

.inline-block {
  display: inline-block;
  height: 55px;
  background-color: red;
}   
/* solo a inline-block se la puede agregar ancho y largo */

.center {
  padding: 50px 0;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  background-color: aqua;

}